@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: Lato, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  color: #568c36;
}

a:hover {
  color: #113c00;
}

.max-length {
  margin-left: 0;
  margin-right: 0;
}

.masthead {
  height: 3rem;
  display: block;
  padding: .5rem;
  color: white;
  background-color: #69563d;
  text-align: center;
}

.nav {
  position: relative;
  background-color: #69563d;
  z-index: 2;
}

.nav a {
  display: inline-block;
  padding: .5rem .75rem;

  color: #fff;
  text-decoration: none;
}

.hero2 {
  max-height: 75vh;
  position: relative;
  overflow: hidden;
  background: url("../images/chocolate-1.jpg") no-repeat center top / cover;
  padding-top: 80%;
  background-color: darkgrey;
}

.nav a:hover {
  background-color: #fff;
  color: #113c00;
}

.nav a:focus {
  background-color: #fff;
  color: #113c00;
}

.logo {
  width: 40px;
  display: block;
  position: absolute;
  float: left;
  top: 3px;
  left: 3px;
}

.about-content {
  background-color: #69563d;
  color: #fff;
  position: relative;
}

.prices {
  background-color: #f5f2f0;
}

th,
td {
  border-color: #dfdcda;
}

.location {
  background-color: #eeebe9;
}

.contact {
  background-color: #dfdcda;
}

.btn {
  background-color: #69563d;
  border-color: #69563d;

  color: #fff;
}

.btn:hover {
  background-color: #79d3e8;
  border-color: #79d3e8;
}

.footer {
  background-color: #69563d;
  color: #fff;
}

@media only screen and (min-width: 35em) {

  .about {
    position: absolute;
  }

}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  h1,
  p {
    margin: 0 0 1.3rem;
  }

  .logo {
    width: 60px;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  h1,
  p {
    margin: 0 0 1.4rem;
  }

  .logo {
    width: 70px;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  h1,
  p {
    margin: 0 0 1.5rem;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

  .logo {
    width: 100px;
  }
}
